:root {
  --main-color: #212121;
  --secondary-color: #2196f3;
  --Roboto-font: "Roboto", sans-serif;
  --Raleway-font: "Raleway", sans-serif;
}
body {
  font-family: var(--Roboto-font);
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* section HEADER */
.header {
  border: 1px solid #ececec;
}
.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-family: var(--Raleway-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.header-logo-blue {
  color: var(--secondary-color);
}
.navigation {
  width: 254px;
  margin-right: 371px;
}
.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list-item-link,
.address-list-item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--secondary-color);
}

.container .address {
  width: 295px;
}
.address-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.address-list-item-link {
  color: #757575;
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: var(--secondary-color);
}

/* section HEADER END */

/* section GENERAL */
.general {
  background: #2f303a;
}
.general-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.general-button {
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.general-button:hover,
.general-button:focus {
  cursor: pointer;
}
/* section GENERAL end*/

/* section DESCRIPTION */
.description-box-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description-box-text {
  font-size: 14px;
  line-height: 1.714em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
/* section DESCRIPTION END*/

/* section WHAT WE DO */
.what-we-do-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167em;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section WHAT WE DO END*/

/* section TEAM */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667em;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188em;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  font-size: 16px;
  line-height: 1.188em;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* section TEAM END */

/* section FOOTER */
.footer {
  background: #2f303a;
}
.header-logo-link-footer {
  font-family: var(--Raleway-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address-footer-list-item-localization-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.717em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-footer-list-item-localization-link:hover,
.address-footer-list-item-localization-link:focus {
  color: var(--secondary-color);
}

.address-footer-list-item-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.717em;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-footer-list-item-contacts-link:hover,
.address-footer-list-item-contacts-link:focus {
  color: var(--secondary-color);
}
/* section FOOTER END*/

/* =============PORTFOLIO============ */

/* filtr content */
.btn-filtr-content {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  text-align: center;
  letter-spacing: 0.03em;
}
.btn-filtr-content:hover,
.btn-filtr-content:focus {
  background: var(--secondary-color);
  color: #ffffff;
}
/* filtr content END*/

/* portfolio content */
.portfolio-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.portfolio-list-item-description {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: #757575;
}
/* portfolio content END*/
